**/*.py
.env
/material
/outputs
/data
/models
/scripts
/src/tests
/src/BodyRegressor/__pycache__
!src/BodyRegressor/*.py
!src/BodyRegressor/cli/*.py
!src/BodyRegressor/health_report/
!src/BodyRegressor/health_report/**/*.py
!src/BodyRegressor/health_report/knowledge/**
